
<!--  Form to change cat's name -->
<div>
  <form action='/named-cat' method='post'>
    <label for='name'>Change the cat's name:</label><br>
    <input type='text' name='name'>
    <input type='submit' value='Submit'>
  </form>
</div>
